PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/btrans
JWT_SECRET=change-this-to-a-long-random-string
CLIENT_ORIGIN=http://localhost:5173

# STK / diaľničná známka email upozornenia
RESEND_API_KEY=
REMINDER_EMAIL_TO=
REMINDER_EMAIL_FROM=B-Trans <onboarding@resend.dev>
REMINDER_SECRET=change-this-to-a-long-random-string
